<html>
    <head>
        <title>Error</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='catch.css') }}">
    </head>

    <body>
        <div class="catch">
            <h1 class="class-h1">Error</h1>
                <h2 class="class-h2">Page Not Found</h2>
                <p class="class-p">An error has occured. Go to <a href="{{ url_for('home') }}">Home</a> and try again. If the problem persists, email service-filmcore@gmail.com.</p>
        </div>
    </body>
</html>