{% extends "layout.html" %}
{% block content %}
<div class="container defpage"></div>
    <div class="content-section bg-secondary" style="color: #EEEEEE; font-size: small;">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Confirm Email</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label", type="text") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.confirm_email.label(class="form-control-label", type="text") }}
                    {% if form.confirm_email.errors %}
                        {{ form.confirm_email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

            <div class="form-group">
                {{ form.submit(class="btn btn-default") }}
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
</div>

{% endblock content %}
