{% extends "layout.html" %}
{% block content %}

    <div class="container">
        <form action="/search" method="POST">

        <div class="input-group mb-3">
            <input type="search" class = "form-control" id="exampleSearch" aria-describedby="searches"
            placeholder="search..." name = "searches">
            <button type="reset" class=" btn clearbutton">&times;</button>
        </div>

        <button type="submit" class="btn btn-primary">Search</button>

        </form>
    </div>
{% include 'footer.html' %}
{% endblock content %}


