{% extends "layout.html" %}
{% block content %}

<div class="container hmpage">
</div>
    <header class="bg-secondary bg-gradient text-white">
        <div style="text-align: center;">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                    {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="container px-4 text-center searchbars">
            
            <div class="container" id="parent">

                <form action="/search" id="form_search" method="POST">
                <p class="lead">Search for any movie or tv show</p>
                <div class="input-group mb-3">
                    
                    <input type="search" style="text-align:center;" class = "form-control searchb" id="exampleSearch" aria-describedby="searches"
                    placeholder="search..." name = "searches" autocomplete="off">
                    
                </div>
                <div>
                    <button type="submit" class="btn btn-default">Search</button>
                </div>
 
                </form>
                
            </div>

        </div>
    </header>

    <div style="height: 4vh;"></div>

    <!--TOP 250 MOVIES-->
    <div class="media content-section border-secondary homearticle" style="width: 150vh;">
        
        <div class="col-md-13" style="margin-bottom: 5px;">
            <ul class="list-group">
            <a class="list-group-item movieinfo searchtitle font-spec" href="{{url_for('popularmovies')}}" style="text-align: center;"><strong>Popular Movies &#8594;</strong></a>
            </ul>
            <div>
            <div style="height: 2vh;"></div>     
                <div style="width: 144vh; display: flex; justify-content: center;">
                    {% for post in data1 %}
                        <div style="float: left; width: 20vh; display: flex; margin-left: 4vh; margin-right: 4vh; justify-content: center;">
                            <table style="word-wrap: break-word;">
                                <tr>
                                    <td> <a href="{{url_for('movie',movieid = post.id)}}"> <img src="{{ post.image }}" style="width: 8vw; height: 26vh;"> </a></td>
                                </tr>
                                <tr>
                                    <td> <small class="text yeartype">{{ post.title }}</small></td>
                                </tr>
                                <tr>
                                    <td class="text yeartype" style="font-size: x-small;">Rating : {{ post.imDbRating }} </td>
                                </tr>
                            </table>
                        </div>
                    {% endfor %} 
                </div> 
            </div>
        
        </div>
        
    </div>
    <div style="height: 4vh;"></div>

    <!--TOP 250 TV-->
    <div class="media content-section border-secondary homearticle" style="width: 150vh;">
        
        <div class="col-md-13" style="margin-bottom: 5px;">
            <ul class="list-group">
            <a class="list-group-item movieinfo searchtitle font-spec" href="{{url_for('populartv')}}" style="text-align: center;"><strong>Popular TV Shows &#8594;</strong></a>
            </ul>
            <div>
            <div style="height: 2vh;"></div>     
                <div style="width: 144vh; display: flex; justify-content: center;">
                    {% for post2 in data2 %}
                        <div style="float: left; width: 28vh; display: flex; justify-content: center;">
                            <table style="word-wrap: break-word;">
                                <tr>
                                    <td> <a href="{{url_for('movie',movieid = post2.id)}}"> <img src="{{ post2.image }}" loading="lazy" style="width: 8vw; height: 26vh;"> </a></td>
                                </tr>
                                <tr>
                                    <td> <small class="text yeartype">{{ post2.title }}</small></td>
                                </tr>
                                <tr>
                                    <td class="text yeartype" style="font-size: x-small;">Rating : {{ post2.imDbRating }} </td>
                                </tr>
                            </table>
                        </div>
                    {% endfor %} 
                </div> 
            </div>
        
        </div>
        
    </div>
    <div style="height: 4vh;"></div>

{% endblock content %}


