{% extends "layout.html" %}
{% block content %}
<div class="container movstyle"></div>
    <div style="display: table; margin: 0 auto;">
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">
              {{ message }}
                  </div>
              {% endfor %}
          {% endif %}
      {% endwith %}
          </div>
        {% if (signedin == True) and (add == False) %}
        <form method="POST" action="">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
            <div class="form-group">
                {{ form.submit(class="btn btn-default") }}
                <a href="http://imdb.com/title/{{movies.imdbID}}" target="_blank" class="btn btn-imdb">IMDB</a>
              </div>
            </fieldset>
          </form>
          {%endif%}
        {% if (signedin == True) and (add == True) %}
          <div class="form-group">
            <a href="#" class="btn btn-default disabled" role="button" aria-disabled="true" style="height: 41px;">Already in watchlist</a>
            <a href="http://imdb.com/title/{{movies.imdbID}}" target="_blank" class="btn btn-imdb">IMDB</a>
          </div>
        {%endif%}
        {% if (signedin == False) %}
        <div class="form-group">
          <a href="#" class="btn btn-default disabled" role="button" aria-disabled="true" style="height: 41px;">Add to watchlist</a>
          <a href="http://imdb.com/title/{{movies.imdbID}}" target="_blank" class="btn btn-imdb">IMDB</a>
        </div>
        {%endif%} 

        <article class="media content-section border-secondary moviepages" style="width: 150vh;">
          
          <div class="media-body">
            <div class="article-metadata">
              <h3 style="color: #fff;">{{movies.Title}}</h3>
              
              <div class="media-body">
              
        <div class="row">
          <div class="col-md-4">
            <img src="{{movies.Poster}}" class="thumbnail">
          </div>
          <div class="col-md-8">
            <ul class="list-group">
              <li class="list-group-item movieinfo"><strong>Genre:</strong> {{movies.Genre}}</li>
              <li class="list-group-item movieinfo"><strong>Type:</strong> {{movies.Type}}</li>
              <li class="list-group-item movieinfo"><strong>Released:</strong> {{movies.Released}}</li>
              <li class="list-group-item movieinfo"><strong>Rated:</strong> {{movies.Rated}}</li>
              <li class="list-group-item movieinfo"><strong>Runtime:</strong> {{movies.Runtime}}</li>
              <li class="list-group-item movieinfo"><strong>Actors:</strong> {{movies.Actors}}</li>
              <li class="list-group-item movieinfo"><strong>Director:</strong> {{movies.Director}}</li>
              <li class="list-group-item movieinfo"><strong>Writer:</strong> {{movies.Writer}}</li>
              <li class="list-group-item movieinfo"><strong>Language:</strong> {{movies.Language}}</li>
              
            </ul>
          </div>
          <div class="well plotstyle">
            <h4 style="color: #fff;">Plot</h4>
            {{movies.Plot}}
          </div>
        </div>
        <div class="row moviebtnstyle">
          
        <div class="col-md-4" style="margin-bottom: 5px;">
          <ul class="list-group">
            <li class="list-group-item movieinfo" style="text-align: center;"><strong>Ratings</strong></li>
            <li class="list-group-item movieinfo"><strong>IMDB Rating:</strong> {{movies.imdbRating}} with {{movies.imdbVotes}} votes</li>
            <li class="list-group-item movieinfo"><strong>Metacritic:</strong> {{ movies.Metascore }}</li>
          </ul>
        </div>
        <div class="col-md-8" style="margin-bottom: 5px;">
          <ul class="list-group">
            <li class="list-group-item movieinfo" style="text-align: center;"><strong>Other Film Information</strong></li>
            <li class="list-group-item movieinfo"><strong>Awards:</strong> {{movies.Awards}}</li>
            <li class="list-group-item movieinfo"><strong>Country:</strong> {{ movies.Country }}</li>
            <li class="list-group-item movieinfo"><strong>Box Office:</strong> {{ movies.BoxOffice}}</li>
          </ul>
        </div>
        </div>
        </article>
<div class="container moviegap"></div>
{% endblock content %}
