{% extends "layout.html" %}
{% block content %}

<div class="container hmpage">
</div>
    <header class="bg-secondary bg-gradient text-white">
        
        <div class="container px-4 text-center searchbars">
            <div class="container">
                
                <div class="col-md-8">
                    <ul class="list-group">
                      <li class="list-group-item movieinfo"><strong>Username:</strong> {{account[1]}}</li>
                      <li class="list-group-item movieinfo"><strong>Email:</strong> {{account[3]}}</li>
                      <li class="list-group-item movieinfo"><strong>First Name:</strong> {{account[4]}}</li>
                      <li class="list-group-item movieinfo"><strong>Last Name:</strong> {{account[5]}}</li>
                      
                    </ul>
                  </div>
                
            </div>

        </div>
    </header>


{% endblock content %}