{% extends "layout.html" %}
{% block content %}

<div class="container hmpage"></div>
  <div class="container px-4 text-center searchbars">
    <h3 style="margin-top: 5%;">{{account[4]}}'s Profile</h3>         
          <div class="profile-container" style="display: flex; justify-content: center; align-items: center;">
              <ul class="list-group" style="width: 40vw;">
                <li class="list-group-item movieinfo"><strong>Username:</strong> {{account[1]}}</li>
                <li class="list-group-item movieinfo"><strong>Email:</strong> {{account[3]}}</li>
                <li class="list-group-item movieinfo"><strong>First Name:</strong> {{account[4]}}</li>
                <li class="list-group-item movieinfo"><strong>Last Name:</strong> {{account[5]}}</li>
              </ul>
            </div>
              <a class="btn btn-warning"  href="{{ url_for('password_change') }}">Change Password</a>
              
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal2">
                Delete Watchlist
              </button>

              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal">
                  Delete Account
                </button>
              

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Account Deletion</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p3 style="color:black"> Are you sure you want to delete your account? Your account cannot be recovered! </p3>
                      </div>
                      <div class="modal-footer">
                        
                        <form method="POST" action="">
                          {{ form.hidden_tag() }}
                          <fieldset class="form-group">
                              <div class="form-group">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  {{ form.submit(class="btn btn-default") }}
                              </div>
                          </fieldset>
                        </form>                      
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2">Clear Watchlist</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p3 style="color:black"> Are you sure you want to clear your watchlist? </p3>
                      </div>
                      <div class="modal-footer">
                        
                        <form method="POST" action="">
                          {{ form.hidden_tag() }}
                          <fieldset class="form-group">
                              <div class="form-group">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  {{ form.submit2(class="btn btn-default") }}
                              </div>
                              <div>
                                <div style="display: table; margin: 0 auto;">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div class="alert alert-{{ category }}">
                                    {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                                </div>
                            </div>
                          </fieldset>
                        </form>                      
                      </div>
                    </div>
                  </div>
                </div>
      
  </div>
    


{% endblock content %}