{% extends "layout.html" %}
{% block content %}
    {% for post in posts.Search %}
        <article class="media content-section border-secondary">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{url_for('movie',movieid = post.imdbID)}}">{{ post.Title }}</a>
              <img src= "{{ post.poster }}" style="width: 20vw; min-width: 60px;" />
              <small class="text-muted">{{ post.Year }} {{post.Type}} </small>
        </article>
    {% endfor %}
{% endblock content %}


