{% extends "layout.html" %}
{% block content %}

    <div style="margin-bottom: 50vw;">
        <div class="container defpage"></div>
            <div class="container maincon" style="margin-bottom: 5%;">
            <a class="nav-item nav-link btn btn-default backbtn" style="margin-left: 0.5vh;" href="{{ url_for('home') }}">Back</a>
          
            {% for post in data.items %}
                      <a>{{ post.title }}</a>
                      <small class="text yeartype">{{ post.year }} : {{post.imDbRating}} </small>
                </article>
            {% endfor %}
        </div>
        </div>
        <div class="container serpage"></div>


{% endblock content %}


