{% extends "layout.html" %}
{% block content %}
<body class="">
    <div style="display:block; overflow: auto;">
        <div class="container defpage"></div>
            <div class="container maincon" style="margin-bottom: 5%;">
            <div style="margin-bottom: 4vh;">
                <h3 style="text-align: center;">Top 250 Movies according to IMDB</h3>
            </div> 
            {% for post in data %}
            <article class="media content-section border-secondary searchpages">
                <div class="media-body">
                    <a class="searchtitle" style="color: white;"> {{ post.rank }}</a> 
                    <img src= "{{ post.image }}" style="width: 5vw; height: 15vh;" />
                    <table style="display: inline; word-wrap: break-word;">
                        <tr>
                            <td><a class="searchtitle" href="{{url_for('movie',movieid = post.id)}}">{{ post.title }}</a></td>
                        </tr>
                        <tr>
                            <td> <small class="text yeartype">IMDB rating : {{post.imDbRating}} out of {{ post.imDbRatingCount }} votes </small></td>
                        </tr>
                        <tr>
                            <td class="text yeartype" style="font-size: x-small;">Crew : {{ post.crew }} </td>
                        </tr>
                    </table>
                   
                <div class="media-body">
                    
              </article>
              {% endfor %}
            
            
        </div>
    </div>
    <div class="container movpage"></div>
</body>

{% endblock content %}


